footer.footer-class.green
    .container-fluid
        diw.row

script(src="/public/vendors/jquery/jquery-3.4.1.min.js")
script(src='./public/vendors/bootstrap/js/bootstrap.min.js')
script(src='./public/vendors/bootstrap/js/bootstrap.bundle.min.js')
script(src="/public/js/auth.js")
//- script(src="/public/js/game.js")
//- script(src="/public/js/lobby.js")

