include includes/head.pug

p Bonjour #{session.pseudo}

ul
    li
        a(href="/quiz/attente") Quizz
    li
        a(href="/mon-compte") Mon compte
    li
        a(href="/classement") Classement
    li
        a.deconnection(href="/deconnexion") Déconnexion

h2 Joueurs connectés
div#players-connected

h2 Joueurs en attente d'un adversaire
div#players-ready

a.ready Rejoindre la partie
p.wait En attente d'un second joueur ...
p.count Début du Quiz dans 
    span.count 0
    span s

p.chrono Timer 
    span.seconds
    span  secondes
p.score Score : 
    span.score 0
    span /30

p.question Question N°
    span.questionNumber
    span /30 :
    span.question
p 
    a#answer-a.answer(href="")
p
    a#answer-b.answer(href="")
p
    a#answer-c.answer(href="")
p
    a#answer-d.answer(href="")
p.littleStory

script(src="/public/js/lobby.js")
include includes/footer.pug