include includes/head.pug

p Bonjour #{session.pseudo}

a(href="/quiz/attente") Quizz
a(href="/mon-compte") Mon compte
a(href="/classement") Classement
a(href="/deconnexion") Déconnexion

include includes/footer.pug