include includes/head.pug

p Bonjour #{session.pseudo}

ul
    li
        a(href="/quiz/attente") Quizz
    li
        a(href="/mon-compte") Mon compte
    li
        a(href="/classement") Classement
    li
        a(href="/deconnexion") Déconnexion

h2 Joueurs connectés
div#players-connected

h2 Joueurs prêts à jouer
div#players-ready

a.ready Rejoindre la partie
p.wait En attente d'un second joueur ...

script(src="/public/js/lobby.js")
include includes/footer.pug