include includes/head.pug

p Bonjour #{session.pseudo}

ul
    li
        a(href="/quiz/attente") Quizz
    li
        a(href="/mon-compte") Mon compte
    li
        a(href="/classement") Classement
    li
        a.deconnection(href="/deconnexion") Déconnexion

h2 Joueurs connectés
div#players-connected

h2 Joueurs prêts à jouer
div#players-ready

a.ready Rejoindre la partie
p.wait En attente d'un second joueur ...
p.count

p.chrono temps écoulé
    span.seconds
    span secondes

p.question
p.answer-a
p.answer-b
p.answer-c
p.answer-d


script(src="/public/js/lobby.js")
include includes/footer.pug